* {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: min(13vw, 20vh);
}



/*
Arial, Helvetica, sans-serif  -> 
weirdHeader.font-size: 10vw
weirdHeader.line-height: 1em
past.font-size = left.font-size = font-size: 11vw
past.margin-top: 10vh;
*/

body {
    /* #98ff98 = (120, 100%, 80%)*/
    background-color:	hsl(120, 100%, 90%);
}

.wrapper {
    display: grid;
    grid-template-rows: auto;
    height: 100vh;
}

.wrapper > * {
    grid-column: 1;
}

.head_empty_space {
    grid-row: 1;
    height: 1px;
}

.weirdHeader {
    text-align: center;
    font-weight: 900;
    line-height: 0.7em;
}

.weirdHeader1 {
    grid-row: 2;
}

.weirdHeader2 {
    grid-row: 3;
}

.afterHeader_empty_space {
    grid-row: 4;
}

.counter {
    word-spacing: -0.1rem;
    text-align: center;
    /* letter-spacing: -0.1rem; */
}

.counter1 {
    grid-row: 5;
}

.afterCounter_empty_space {
    grid-row: 6;
    height: 1px;
}

.counter2 {
    grid-row: 7;
}

.afterCounter_empty_space {
    grid-row: 8;
    height: 1px;
}
